body {
    background: url("serene.jpg");
}

#jumbo {
    margin-top: 5px;
    background: sandybrown;
    color: darkred;
    opacity: 0.6;
}

p {
    color: white;
    font-family: papyrus, cursive, sans-serif;
    font-size: 30px;
    text-align: center;
}

.sq, .n, .sub {
    color: white;
    font-family: papyrus, cursive, sans-serif;
}

h4 {
    color: white;
    font-family: papyrus, cursive, sans-serif;
}

h3 {
    color: darkred;
    font-family: papyrus, cursive, sans-serif;
}

#jumbo2, #jumbo3 {
    background: sandybrown;
    color: darkred;
    opacity: 0.8;
}

#name, #photo {
    width: 400px;
    position: relative;
    left: 308px;
}