#jumbo {
    margin-top: 5px;
    background: sandybrown;
    color: darkred;
    opacity: 0.3;
}

body {
    background: url("serene.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#foot {
    color: white;
    position: center;
    height: 50px;
    margin-top: -50px;
    opacity: 0.4;
}

p {
    color: white;
    font-family: papyrus, cursive, sans-serif;
    font-size: 30px;
    text-align: center;
}

.message {
    position: relative;
    top: 75px;
}

.btn-danger {
    position: relative;
    top: 100px;
}

.container {
    min-height: calc(100vh - 70px);
}

